:root {
    --azul-uno: #6ceae9;
    --azul-dos: #60e8e8;
    --blanco-fondo: #f5f5f5;
    --gris-fondo: #5a5a5a;
    --azul-letras: #246d8d;
    --dorado-letras: #9e5c20;
    --verde-letras: #198882;
    --verde2-letras: #489b91;
    --azul-boton1: #217091;
    --azul-boton2: #9cf6f6;
    --azul-social: #04cbce;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {/*!Ver si lo puedo borrar despues*/
    padding: 0;
}

#cabecera {
    background-image: url('../IMG/banner.png');
    background-position: 0;
    background-repeat: repeat;
}

.contenedor-img {
    background-color: var(--azul-uno);
}

.contenedor-apuntarme {
    background-color: var(--azul-dos);
}

.apuntarme__titulo, .apuntarme__subtitulo {
    color: var(--azul-letras);
}

.apuntarme__boton {
    background-color: var(--azul-boton1);
    color: #ffffff;
}

.contenedor-nosotros {
    background-color: var(--blanco-fondo);
}

.lecciones i, .certificado i{
    font-size: 6rem;
}

.lecciones h4, .certificado h4{
    color: var(--dorado-letras);
}

.contenedor-blog {
    background-color: var(--gris-fondo);
}

.blog__boton {
    background-color: var(--azul-boton2);
    color: var(--verde-letras);
}

.contenedor-comentarios {
    background-color: var(--azul-dos);
}

.footer {
    background-color: var(--azul-uno);
}

.redes-sociales a{
    font-size: 3rem;
    color: var(--azul-social);
}

.copyright {
    color: var(--verde2-letras);
}

/*azul uno para el fondo del footer*/
